*{
    margin: 0;
    padding: 0;
}
.contectoverview{
    background-image: url(South-Indian-main_584509564.webp);
    background-size: cover;
    width: 100vw;

}
.contectoverview{
    
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contectcontainer{
    background-color: #000000bb;
    color: aliceblue;
    width: 400px;
    height:340px;
    border-radius: 5px;
    font-family: Arial;
    padding-top: 50px;
   
}
.contecth5,p{
  font-size: larger;
  padding-left: 48px;
  padding-bottom: 10px;
  
  
}
.contecth5,input{
    width: 300px;
    height: 30px;
    border-radius: 4px;
}
.contect,textarea{
    width: 300px;
    height: 80px;
    border-radius: 4px;
}
.contect,input,textarea:focus{
   outline: none;
   border: none;
}  
.contect,button{
    text-align: center;
    padding: 5px;
    background-color: skyblue;
    margin-left: 48px;
    margin-top: 10px;
}
.contect,a{
    border: black 2px solid;
    background-color: skyblue;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: small;
    margin-left: 190px;
    
}
.contect a:focus{
  font-style: none;
}

